# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
backups-dup-lite
plugins/woocommerce
plugins/simply-show-hooks
plugins/wordpress-importer
advanced-custom-fields
duplicator
autoptimize*
theme-check
uploads
upgrade
monster-widget
regenerate-thumbnails
yet-another-related-posts-plugin
*.zip
hello.php
akismet
theme-inspector
# ignore specific themes
themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
